:{$PORT} {
	handle /auth/v1/* {
		uri strip_prefix /auth/v1
		reverse_proxy supabase-auth.railway.internal:9999
	}
	handle /rest/v1/* {
		uri strip_prefix /rest/v1
		reverse_proxy supabase-rest.railway.internal:3000
	}
}
